main .container {
  margin: 0 auto;
  width: 70%;
}

main .container p {
  font-family: "Montserrat", sans-serif;
  line-height: 2em;
  text-align: justify;
  padding: 0 3em;
}

main .images{
  display: flex;
  grid-template-columns: 1fr;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  padding: 5px;
  margin-bottom: 40px;
}

main img {
  margin: 20px auto;
  transition: 0.2s;
  width: 100%;
}

main .images-fab-software,
main > div > .images-monitoria,
main .images-minicursos {
  display: flex;
  grid-template-columns: 1fr;
  gap: 5px;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-bottom: 40px;
  padding: 0 3em;
}

main .images-fab-software .images-desenvolvimento {
  width: 80%;
}

main .sites-cards {
  display: grid;
  grid-gap: 5em;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 0 3em;
  width: 100%;
}

.legenda{
  text-align: center;
}

.software-card {
  background: #fafafa;
  border-radius: 0.4em;
  margin: 0 auto !important;
  width: 20em;
}

.software-card img {
  border: none;
  height: 10em;
  width: 20em;
}

.software-card .text {
  background: #060b3f;
  border-radius: 0 0 0.4em 0.4em;
  padding: 1em;
}

.software-card h2,
.software-card a {
  color: #fafafa;
  margin-bottom: 0.4em;
  font-size: 20px;
  text-decoration: none;
}

.software-card .wrapper-labels {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.software-card .label {
  color: #fff;
  border-radius: 50px;
  font-size: 18px;
  margin-right: 0.4em;
  padding: 0.1em 0.4em;
  width: fit-content;
}

/*//////////////*/

.software-card-monitoria {
  display: grid;
  grid-gap: 0;
  grid-template-columns: auto;
  flex-direction: column;
  justify-content: center;
  background: #fafafa;
  border-radius: 0.4em;
  margin: 0 auto !important;
  width: 20em;
}

.software-card-monitoria img {
  border: none;
  height: 10em;
  width: 20em;
}

.software-card-monitoria .itens {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr;
  background: #fafafa;
  border-radius: 0 0 0.4em 0.4em;
  padding: 2em;
}
.software-card-monitoria .text {
  display: grid;
  grid-gap: 0;
  grid-template-columns: auto;
  background: #060b3f;
  border-radius: 0 0 0.4em 0.4em;
  padding: 1em;
}

.software-card-monitoria h2,
.software-card-monitoria a {
  color: #fafafa;
  margin-bottom: 0.4em;
  font-size: 20px;
  text-decoration: none;
}

.software-card-monitoria .wrapper-labels {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.software-card-monitoria .label {
  color: #fff;
  border-radius: 50px;
  font-size: 18px;
  margin-right: 0.4em;
  padding: 0.1em 0.4em;
  width: fit-content;
}


.react {
  background: #61dafb;
}

.css {
  background: #563d7c;
}

.php {
  background: #4f5d95;
}

.html {
  background: #e34c26;
}

.software-card .javascript {
  background: #f1e05a;
  color: #000;
}

@media (max-width: 1360px) {
  main .sites-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1250px) {
  main .sites-cards {
    grid-template-columns: 1fr ;
  }

  .software-card {
    width: 50%;
  }

  .software-card img {
    width: 100%;
  }
}

@media (max-width: 1080px) {
  main .sites-cards {
    grid-template-columns: 1fr;
  }

  .software-card {
    width: 100%;
  }

  .software-card img {
    width: 100%;
  }
}

@media (max-width: 900px) {
  main .sites-cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  main .sites-cards {
    grid-template-columns: 1fr;
    padding: 0;
  }

  main .container p {
    font-size: 18px;
    padding: 0 1em;
    text-align: justify;
  }

  main .container {
    width: 100%;
  }

  main .images,
  main .images-fab-software,
  main .images-monitoria {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 0;
  }
  main img {
    border: 2px solid #eee;
    margin: 20px auto;
    transition: 0.2s;
    width: 90%;
  }

  main img:hover {
    transform: scale(1.1);
  }

  .software-card {
    width: 90%;
  }

  .software-card img {
    width: 100%;
  }

  .software-card .wrapper-labels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
  }
}

@media (max-width: 450px) {
  .software-card {
    width: 90%;
  }

  .software-card img {
    width: 100%;
  }
}

@media (max-width: 300px) {
  .software-card {
    width: 90%;
  }

  .software-card img {
    width: 100%;
  }
  .software-card .wrapper-labels {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .software-card .label {
    margin: 0.2em;
  }
}
