.monitorias {
  background: #DDE3E6;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.monitorias button {
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 50px;
  opacity: .4;
  padding: 25px;
  transition: .2s;
}

.monitorias button:hover {
  transform: scale(1.01);
  opacity: .6;
}

.monitorias .active {
  opacity: 1;
}

.monitorias button img {
  width: 60px;
}

.monitorias .title {
  background: #fff;
  margin: 0 auto;
  width: 100px;
}

.monitorias .title h1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 10px;
  padding: 2px;
  text-align: center;
}

.container {
  margin: auto;
  position: relative;
  width: 100%;
}

.conteudos {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 40px;
}

.conteudos .aula {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  transition: .4s;
}

.conteudos .aula:hover {
  transform: scale(1.01);
}

.conteudos .card {
  background: #ffaa00a2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 140px;
}

.conteudos .card img {
  width: 100px;
}

.conteudos .details {
  top: 35px;
  position: relative;
  padding: 8px;
}

.conteudos .details p {
  color: #868686;
  font-weight: 300;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 800px){
  .monitorias {
    padding: 10px 0;
  }

  .monitorias div {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 150px;
  }

  .monitorias button {
    align-items: center;
    display: flex;
    height: 62.5px;
    justify-content: center;
    margin: 10px;
    width: 50%;
  }

  .monitorias button img {
    width: 30px;
  }

  .monitorias .title h1 {
    font-size: 10px;
    margin-top: 0;
    width: auto;
  }

  .container {
    padding: 6px;
  }

  .container .conteudos {
    grid-gap: 4px;
    padding: 10px 0;
  } 

  .aula .card {
    height: 50px;
    width: 50px;
  }

  .aula .card img {
    width: 30px;
  }

  .aula .details {
    font-size: 10px;
    padding: 0 4px;
    top: 0;
  }

  .aula .details p {
    font-size: 8px;
  }
}