.monitorias {
  background: #dde3e6;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer.fixar-rodape {
  background: #343564;
  width: 100%;
  margin-top: auto;
}
.monitorias button {
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 50px;
  opacity: 0.3;
  padding: 25px;
  transition: 0.2s;
}

.monitorias button:hover {
  transform: scale(1.01);
  opacity: 0.6;
}

.monitorias .active {
  opacity: 1;
}

.monitorias button img {
  width: 60px;
}

.monitorias .title {
  background: #fff;
  margin: 0 auto;
  width: 100px;
}

.monitorias .title h1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 10px;
  padding: 2px;
  text-align: center;
}

section .container {
  background: #fafafa;
  margin: auto;
  position: relative;
  width: 100%;
}

section .conteudos-python,
section .conteudos-calc1,
section .conteudos-lp1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  padding: 20px;
  width: 90%;
}

section .conteudos-python,
section .conteudos-lp1 {
  display: none;
}

section .details {
  background: #e7e7e7;
  border-radius: 10px;
  height: 130px;
  margin: 10px;
  padding: 10px;
  width: 350px;
}

section .details img {
  width: 100px;
}

section .details h1 {
  margin-bottom: 10px;
}

section .details .links a {
  align-items: center;
  display: flex;
  padding: 2px;
}

section .details .links img {
  width: 20px;
  margin-right: 5px;
}

.comment {
  fill: blue;
}

.python {
  background: #8aeabe;
}

.calc {
  background: #ffa800;
}

.lp1 {
  background: #ebeaea9a;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .monitorias {
    padding: 10px 0;
  }

  .monitorias div {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 150px;
  }

  .monitorias button {
    align-items: center;
    display: flex;
    height: 62.5px;
    justify-content: center;
    margin: 10px;
    width: 50%;
  }

  .monitorias button img {
    width: 30px;
  }

  .monitorias .title h1 {
    font-size: 10px;
    margin-top: 0;
    width: auto;
  }

  .container {
    display: flex;
    margin: 0 auto;
  }

  .container #conteudos {
    grid-template-columns: 1fr;
    grid-gap: 4px;
    padding: 10px 0;
  }

  section .details {
    font-size: 14px;
    top: 0;
    width: 100%;
  }

  .aula .details p {
    font-size: 10px;
  }
}
