main .container {
  margin: 0 auto;
  width: 70%;
}

main .container p {
  font-family: "Montserrat", sans-serif;
  line-height: 2em;
  text-align: justify;
  text-indent: 0.8em;
  padding: 0 3em;
}

.noticias {
  padding-top: 40px;
  border: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  padding: 0 3em;
  margin-bottom: 2em;
}

.noticias > p {
  color: #888888;
  text-align: justify;
  padding: 10px;
}

.materia {
  display: flex;
  background: #eeeeee;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  padding: 15px;
}
.materia > img {
  background: #eeeeee;
  width: 200px;
  height: 200px;
}
.textoMateria {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: justify;
}

.textoMateria h3 {
  color: #000;
  font-size: 28px;
}

.materia .textoMateria p {
  font-size: 16px;
  margin: 1em 0;
  padding: 0;
  text-indent: 0;
}
.botao {
  background: #33c3ff;
  width: 90px;
  height: 50px;
  font-family: Basic;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 35px;
  color: #ffff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
}
.botao a:visited {
  color: white;
}

@media (max-width: 800px) {
  main .container {
    width: 90%;
  }

  main .container p {
    padding: 0;
  }
  .noticias {
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
  }

  .materia {
    flex-direction: column;
    margin: 10px 0;
  }
}
