* {
  text-decoration: none;
}

#slider {
  margin: auto;
  width: 100%;
}

.slider-content {
  list-style: none;
  margin: auto;
  position: relative;
}

.slider-content .preview,
.slider-content .next {
  align-items: center;
  background: #cccccc6c;
  border: none;
  cursor: pointer;
  display: flex;
  height: 60px;
  outline: none;
  padding: 8px;
  position: absolute;
  text-decoration: none;
  top: 50%;
  transition: 0.6s ease;
  width: auto;
}

.slider-content .next {
  right: 0;
}

.slider-content .preview img,
.slider-content .next img {
  width: 30px;
}

.slider-content .preview:hover,
.slider-content .next:hover {
  background: #ccccccdc;
}

.texto-banner {
  align-items: center;
  background-image: url(../assets/images/lala-azizli-cBUTPbTeDB0-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #343564;
  display: flex;
  flex-direction: column;
  height: 35em;
  justify-content: center;
}

.texto-banner .intro-noticia {
  align-items: center;
  background: #ffffff94;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.texto-banner .intro-noticia h1 {
  font-size: 48px;
}

.texto-banner .intro-noticia p {
  font-size: 24px;
  text-align: center;
}

.texto-banner .intro-noticia a {
  background: #33c3ff;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
  padding: 14px;
  text-decoration: none;
  transition: 0.2s;
}

.texto-banner .intro-noticia a:hover {
  background: #343564;
}

.active,
.dot:hover {
  background-color: #717171;
}

#sobre {
  background: #eeeeee;
  height: 100%;
  width: 100%;
}

/* Resumo com grid das imagens */

.resumo-petcomp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px;
}

.resumo-petcomp .images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 10vw);
  grid-gap: 2rem;
  width: 800px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: ease 0.2s;
}

.resumo-petcomp .images figure {
  box-shadow: 0px 15px 10px 4px #d4d4d4;
}

.resumo-petcomp .images figure:hover {
  transform: scale(1.02);
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.gallery__item--4 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

/*Item 1*/
.gallery__item--1 {
  background-image: url("../assets/images/photo-5-med.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (max-width: 425px) {
  .gallery__item--1 {
    background-image: url("../assets/images/photo-5-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media only screen and (min-width: 1024px) {
  .gallery__item--1 {
    background-image: url("../assets/images/photo-5-big.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

/*Item 2*/

.gallery__item--2 {
  background-image: url("../assets/images/photo-8-med.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (max-width: 425px) {
  .gallery__item--2 {
    background-image: url("../assets/images/photo-8-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media only screen and (min-width: 1024px) {
  .gallery__item--2 {
    background-image: url("../assets/images/photo-8-big.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

/*Item 3*/

.gallery__item--3 {
  background-image: url("../assets/images/photo-2-med.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (max-width: 425px) {
  .gallery__item--3 {
    background-image: url("../assets/images/photo-2-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media only screen and (min-width: 1024px) {
  .gallery__item--3 {
    background-image: url("../assets/images/photo-2-big.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

/*Item 4*/

.gallery__item--4 {
  background-image: url("../assets/images/photo-1-med.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (max-width: 425px) {
  .gallery__item--4 {
    background-image: url("../assets/images/photo-1-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media only screen and (min-width: 1024px) {
  .gallery__item--4 {
    background-image: url("../assets/images/photo-1-big.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.text-petcomp {
  margin-right: 200px;
}

.resumo-petcomp .text-petcomp h1 {
  color: #343564;
  font-size: 48px;
  width: 300px;
}

.resumo-petcomp .text-petcomp p {
  color: #1d1d1d;
  line-height: 22px;
  margin: 20px 0;
  width: 350px;
  text-align: justify;
}

.resumo-petcomp .text-petcomp a {
  color: #0004ff;
  text-decoration: none;
}

#atividades {
  background-image: url(../assets/images/lala-azizli-cBUTPbTeDB0-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.atividades {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.atividades .atividades-desenvolvidas {
  margin: auto 0;
  margin-right: 20px;
  width: 300px;
}

.atividades .atividades-desenvolvidas p {
  color: #fff;
  line-height: 22px;
  margin: 20px 0;
  width: 100%;
  text-align: justify;
}

.atividades .atividades-desenvolvidas h1 {
  color: #fafafa;
  font-size: 48px;
  width: 100%;
}

.atividades .atividades-desenvolvidas a {
  color: #0adafe;
  text-decoration: none;
}

.atividades .images-atividades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.atividades .images-atividades img {
  background: #343564;
  border-radius: 0.4em;
  padding: 0.6em;
  width: 30%;
}

.atividades .images-atividades .card-atividade {
  background: #fff;
  border-radius: 0.4em;
  display: flex;
  flex-direction: column;
  padding: 2em;
  transition: 0.4s;
  width: 15em;
}

.atividades .images-atividades .card-atividade:hover {
  background: #fafafa;
  box-shadow: #4242425e 0px 9px 20px 7px;
}

.atividades .images-atividades .card-atividade h3 {
  height: 20px;
  margin: 2em 0;
}

.atividades .images-atividades .card-atividade a {
  align-items: center;
  background: #ccc;
  border: 1px solid #ccc;
  border-radius: 15px;
  color: #000;
  display: flex;
  font-size: 16px;
  height: fit-content !important;
  text-align: center;
  transition: 0.4s;
  padding: 10px;
  width: fit-content;
}

.atividades .images-atividades .card-atividade a:hover {
  background: #33c3ff;
  border: 1px solid #33c3ff;
  color: #fff;
  transition: 0.2s;
}
*/ #parceiros {
  background: #eeeeee;
  height: 400px;
}

.titulo {
  color: #545457;
  font-size: 32px;
  padding: 60px;
  text-align: center;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1450px) {
  .resumo-petcomp .text-petcomp p {
    width: 550px;
  }
}

@media (max-width: 1400px) {
  .resumo-petcomp .images {
    margin-right: 20px;
    width: 600px;
  }
  .resumo-petcomp .text-petcomp {
    margin-right: 0;
    width: 100%;
  }
}

@media (max-width: 1180px) {
  .atividades {
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 0;
  }

  .atividades .images-atividades {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .atividades .atividades-desenvolvidas {
    width: 90%;
    padding: 24px;
  }

  .atividades > .atividades-desenvolvidas > p {
    width: 100%;
    font-size: 20px;
    text-align: justify;
  }

  .atividades .atividades-desenvolvidas h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .atividades .atividades-desenvolvidas .card-atividade a {
    margin-left: 1em;
    font-size: 12px;
  }

  .atividades .images-atividades .card-atividade {
    display: flex;
    flex-direction: row;
    height: 300px;
    padding: 20px 15px 20px 15px;
    margin: 10px;
    width: 100%;
  }

  .atividades .images-atividades .card-atividade img {
    width: 6em;
  }

  .atividades .images-atividades .card-atividade h3 {
    font-size: 38px;
    margin: 1em 0;
    width: 6em;
  }
}

@media (max-width: 800px) {
  .slider-content {
    display: block;
  }

  ul li {
    padding: 0;
  }
  .texto-banner {
    height: 400px;
    text-align: center;
  }

  .texto-banner .intro-noticia h1 {
    font-size: 28px;
  }

  .texto-banner .intro-noticia p {
    font-size: 18px;
    margin-top: 10px;
    width: 80%;
  }

  .resumo-petcomp {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 1em;
  }

  .resumo-petcomp .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 15vw);
    grid-gap: 4px;
    width: 100%;
  }

  .resumo-petcomp .images figure:hover {
    transform: scale(1.5);
  }

  .resumo-petcomp .text-petcomp h1 {
    color: #343564;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .resumo-petcomp .text-petcomp p {
    padding: 0;
    width: 100%;
  }

  .atividades {
    flex-direction: column;
    height: 100%;
    padding: 0;
  }

  .atividades .images-atividades {
    display: grid;
    grid-template-columns: 1fr;
    margin: o auto;
  }

  .atividades .atividades-desenvolvidas {
    margin-right: 0;
  }

  .atividades .atividades-desenvolvidas h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .atividades .atividades-desenvolvidas a {
    font-size: 12px;
  }

  .atividades .images-atividades .card-atividade {
    display: flex;
    flex-direction: row;
    height: 10em;
    width: 70%;
  }

  .atividades .images-atividades .card-atividade img {
    width: 40%;
  }

  .atividades .images-atividades .card-atividade h3 {
    font-size: 22px;
    margin: 0;
    margin-top: 0.5em;
    width: 100%;
  }

  .atividades .images-atividades .card-atividade a {
    width: 15em;
  }
}

@media (max-width: 351px) {
  .atividades .images-atividades {
    display: grid;
    grid-template-columns: 1fr;
  }
  .atividades .atividades-desenvolvidas h1 {
    margin: 0 auto;
    width: 100%;
  }
}
