* {
  text-decoration: none;
}

/*section slider*/

#slider {
  margin: auto;
  width: 100%;
}

.slider-content {
  list-style: none;
  margin: auto;
  position: relative;
}

.slider-content .preview,
.slider-content .next {
  align-items: center;
  background: #cccccc6c;
  border: none;
  cursor: pointer;
  display: flex;
  height: 60px;
  outline: none;
  padding: 8px;
  position: absolute;
  text-decoration: none;
  top: 50%;
  transition: 0.6s ease;
  width: auto;
}

.slider-content .next {
  right: 0;
}

.slider-content .preview img,
.slider-content .next img {
  width: 30px;
}

.slider-content .preview:hover,
.slider-content .next:hover {
  background: #ccccccdc;
}

.texto-banner {
  align-items: center;
  background-image: url(../assets/images/imagemdefundo.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  color: #343564;
  display: flex;
  flex-direction: column;
  height: 70vh; 
  justify-content: center;
}

.texto-banner .intro-noticia {
  align-items: center;
  background: #ffffff94;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.texto-banner .intro-noticia h1 {
  font-size: 48px;
}

.texto-banner .intro-noticia p {
  font-size: 24px;
  text-align: center;
}

.texto-banner .intro-noticia a {
  background: #33c3ff;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
  padding: 14px;
  text-decoration: none;
  transition: 0.2s;
}

.texto-banner .intro-noticia a:hover {
  background: #343564;
}

.active,
.dot:hover {
  background-color: #717171;
}



/*section sobre*/
#sobre {
  background: #eeeeee;
  padding: 10px;
  background: linear-gradient(0deg, #060b3f, #232433);
}

.imagemSobre{
  max-width: 100%; 
  max-height:35rem; 
  display: block; 
  margin: 0 auto; 
}

.text-petcomp {
  flex: 1;
  width: 100%; 
}


.resumo-petcomp {
  
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap:20px;
  align-items: center;
  padding: 20px;

}


.resumo-petcomp .text-petcomp p {
  text-align: justify;
}
.resumo-petcomp .text-petcomp h1 {
  color: white;
  font-size: 48px;
}

.resumo-petcomp .text-petcomp p {
  color:  white;
  font-size: 20px;
  line-height: 22px;
  margin: 20px 0;

  text-align: justify;
}

.resumo-petcomp .text-petcomp a {
  width: 10rem;
  background: #33c3ff;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
  padding: 14px;
  text-decoration: none;
  transition: 0.2s;
}

/*section petSignifica*/


#petSignifica{
  background-color: hsl(0, 10%, 94%);
  text-align: center;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
}
.tituloPet{
  font-size: 30px;
  font-weight: 800;

}
.imagemTriade {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-top:20px;

}

.imagemTriade .imagem {
  max-width: 15rem;
  height: auto;
  margin-right: 1rem; 
  opacity: 0;
  animation: fadeInFromRight 1s ease-in-out;
}

@keyframes fadeInFromRight {
  to {
    opacity: 1;
  }
}

/*section historia*/
#historia{
  text-align:center;
  align-items: center;
  background: linear-gradient(180deg, #060b3f, #232433);
  width: 100%;
  justify-content: center;
  display: flex;
}
.historia{
  display: flex;
  flex-direction: row;
  color: white;
  text-align:center;
  min-height: 10rem;
  justify-content: space-between;
  padding: 50px;
  width: 60%;
}
.topico{
  margin:10px;
}
.count{
  font-size: 5rem;
  font-weight: 800;
}

/*section atividades*/

#atividades {
  background-image: url(../assets/images/imagemdefundo.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #343564;
  display: flex;
  justify-content: center;
}

.atividades {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.atividades .atividades-desenvolvidas {
  margin: auto 0;
  margin-right: 20px;
  width: 300px;
}

.atividades .atividades-desenvolvidas p {
  color: #fff;
  line-height: 22px;
  margin: 20px 0;
  width: 100%;
  text-align: justify;
}

.atividades .atividades-desenvolvidas h1 {
  color: #fafafa;
  font-size: 48px;
  width: 100%;
}

.atividades .atividades-desenvolvidas a {
  color: #0adafe;
  text-decoration: none;
}

.atividades .images-atividades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.atividades .images-atividades img {
  background: #343564;
  border-radius: 0.4em;
  padding: 0.6em;
  width: 30%;
}

.atividades .images-atividades .card-atividade {
  background: #fff;
  border-radius: 0.4em;
  display: flex;
  flex-direction: column;
  padding: 2em;
  transition: 0.4s;
  width: 15em;
}

.atividades .images-atividades .card-atividade:hover {
  background: #fafafa;
  box-shadow: #4242425e 0px 9px 20px 7px;
}

.atividades .images-atividades .card-atividade h3 {
  height: 20px;
  margin: 2em 0;
}

.atividades .images-atividades .card-atividade a {
  align-items: center;
  background: #ccc;
  border: 1px solid #ccc;
  border-radius: 15px;
  color: #000;
  display: flex;
  font-size: 16px;
  height: fit-content !important;
  text-align: center;
  transition: 0.4s;
  padding: 10px;
  width: fit-content;
}

.atividades .images-atividades .card-atividade a:hover {
  background: #33c3ff;
  border: 1px solid #33c3ff;
  color: #fff;
  transition: 0.2s;
}
*/ #parceiros {
  background: #eeeeee;
  height: 400px;
}

.titulo {
  color: #545457;
  font-size: 32px;
  padding: 60px;
  text-align: center;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}


@media (max-width: 1180px) {
  /*section sobre*/
  .resumo-petcomp .text-petcomp h1 {
    color: white;
    font-size: 48px;
  }
  
  .resumo-petcomp .text-petcomp p {
    color:  white;
    font-size: 20px;
    line-height: 22px;
    margin: 20px 0;
    text-align: justify;
  }
  
  
  /*section petSignifica*/
  



  /*section historia*/
  .historia{
    display: flex;
    flex-direction: row;
    color: white;
    text-align:center;
    min-height: 8rem;
    padding: 40px;
    width: 100%;

  }
  .topico{
    margin:10px;
  }
  .count{
    font-size: 3rem;
    font-weight: 800;
  }




  /*section atividades*/
  .atividades {
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 0;
  }

  .atividades .images-atividades {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .atividades .atividades-desenvolvidas {
    width: 90%;
    padding: 24px;
  }

  .atividades > .atividades-desenvolvidas > p {
    width: 100%;
    font-size: 20px;
    text-align: justify;
  }

  .atividades .atividades-desenvolvidas h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .atividades .atividades-desenvolvidas .card-atividade a {
    margin-left: 1em;
    font-size: 12px;
  }

  .atividades .images-atividades .card-atividade {
    display: flex;
    flex-direction: row;
    height: 300px;
    padding: 20px 15px 20px 15px;
    margin: 10px;
    width: 100%;
  }

  .atividades .images-atividades .card-atividade img {
    width: 6em;
  }

  .atividades .images-atividades .card-atividade h3 {
    font-size: 38px;
    margin: 1em 0;
    width: 6em;
  }
}

@media (max-width: 800px) {
  .texto-banner {
    height: 40vh;
  }
  /*section slider*/
  .slider-content {
    display: block;
  }

  ul li {
    padding: 0;
  }

  .texto-banner .intro-noticia h1 {
    font-size: 28px;
  }

  .texto-banner .intro-noticia p {
    font-size: 18px;
    margin-top: 10px;
    width: 80%;
  }

  /*section sobre*/

  #sobre{
    object-fit: contain;
  }

  .resumo-petcomp {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .imagemSobre{
    max-width: 100%; 
    max-height:20rem; 
    display: block; 
    margin: 0 auto; 
  }
  
  
  .resumo-petcomp .text-petcomp h1 {
    font-size:30px;
  }
  .resumo-petcomp .text-petcomp p {
    font-size: 15px;
    text-align: justify;
  }


  /*section petSignifica*/
  .imagemTriade {
    display: flex;
    justify-content: space-between; 
}

.imagemTriade .imagem {
    max-width: 30%; 
    height: auto;
}


  /*section historia*/

  #historia{
    max-width: 100%;
  }
  .historia{
    display: flex;
    flex-direction: row;
    color: white;
    text-align:center;
    align-items: center;
    min-height: 8rem;
    justify-content: space-around; 
    padding: 20px;
    flex-wrap: wrap;
    gap:10px;
    

  }
  .topico{
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin:10px;
  }
  .topico p{
    align-items: center;
    text-align: center;
  }
  .count{
    box-sizing: border-box;
    font-size: 3em; 
    font-weight: 600;
  }


  /*section atividades*/
  .atividades {
    flex-direction: column;
    height: 100%;
    padding: 0;
  }

  .atividades .images-atividades {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    margin-left: -20px;
    width: 375px;
  }

  .atividades .atividades-desenvolvidas {
    margin-right: 0;
  }

  .atividades .atividades-desenvolvidas h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .atividades .atividades-desenvolvidas a {
    font-size: 12px;
  }

  .atividades .images-atividades .card-atividade {
    display: flex;
    flex-direction: row;
    height: 10em;
    width: 70%;
  }

  .atividades .images-atividades .card-atividade img {
    width: 40%;
  }

  .atividades .images-atividades .card-atividade h3 {
    font-size: 22px;
    margin: 0;
    margin-top: 0.5em;
    width: 100%;
  }

  .atividades .images-atividades .card-atividade a {
    width: 15em;
  }
  #atividades {
    background-image: none;
    background-color:#060b3f;
  }
}

@media (max-width: 351px) {
  /*section slider*/
  .texto-banner {
    text-align: center;
  }


   /*section sobre*/
   
   .resumo-petcomp .text-petcomp h1 {
    text-align: center;
    font-size: 20px;
    width: 100%;
  }
  
  .resumo-petcomp .text-petcomp p {
    font-size: 15px;
    line-height: 22px;
    margin: 20px 0;
    width: 100%;
    text-align: justify;
  }
  

  /*section historia*/
  #historia{
    width: 100%;
  }
  .historia{
    display: grid;
    grid-template-columns: 2fr 2fr; 
    gap:20px;
    text-align:center;
    min-height: 8rem;
    padding: 20px;
    width: 100%;

  }
  .topico{
    margin:10px;
  }
  .count{
    font-size: 2rem;
    font-weight: 600;
  }

/*section petSignifica*/
  .imagemTriade {
    display: flex;
    justify-content: space-between;
    margin:5px;
}

.imagemTriade .imagem {
    max-width: 30%; 
    height: auto; 
    margin:5px;
}

  /*section atividades*/
  
  .atividades .images-atividades {
    display: grid;
    grid-template-columns: 1fr;
    width: 290px;
  }
  .atividades .images-atividades .card-atividade {
    display: flex;
    flex-direction: row;
    height: 10em;
    width: 50%;
  }
  .atividades .atividades-desenvolvidas h1 {
    margin: 0 auto;
    width: 100%;
  }
  
}
