.text {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  color: #888888;
}

.episodios {
  display: flex;
  flex-direction: column-reverse;
}

.episodio .texto {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  width: 85%;
}

.episodio .texto .description {
  background: #000838;
  border-radius: 0 0 8px 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
  margin-top: -10px;
  padding: 10px;
  padding-top: 20px;
  width: 100%;
}

.episodio .texto .description p {
  align-items: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
}

.episodio .texto .description p img {
  width: 20px;
}

@media (max-width: 800px) {
  .episodio .texto {
    width: 100%;
  }
}
