main .container {
  margin: 0 auto;
  width: 70%;
}

main .container p {
  color: #010101;
  font-family: "Montserrat", sans-serif;
  line-height: 2em;
  text-align: justify;
  text-indent: 0.8em;
  padding: 0 3em;
}

.episodios {
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  padding: 0 3em;
}

.episodio {
  margin-top: 3em;
}

.episodio .texto {
  display: flex;
  flex-direction: column;
}

.episodio .texto {
  background: #000838;
  border-radius: 1em;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
  margin-top: -10px;
  padding: 10px;
  padding-top: 20px;
  width: 100%;
}

.episodio .texto p {
  align-items: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
}

.episodio .texto p img {
  width: 20px;
}

@media (max-width: 800px) {
  main .container {
    width: 90%;
  }

  main .container p {
    padding: 0;
  }

  .episodios {
    padding: 0;
    width: 100%;
  }

  .episodio .texto {
    width: 100%;
  }

  .hosts {
    padding: 0.2em;
  }
}
