* {
  box-sizing: border-box;
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

html {
  --bg: #fafafa;
  --bg-black: #111;
  --bg-secondary: #fdfdfd;
  --bg-black-secondary: #333;
  --primary: #1dd85f;
  --text-white: #ffff;
  --text-gray: #8d8d8d;
  --text-gray-secondary: #535353;
  --gray-border: #60df8c;
  --black-footer: #111;
}

p {
  padding: 0;
  margin: 0 0 20px 0;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--bg-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

/* HEADER */

header {
  background: var(--bg);
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}

header .logos {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  padding: 10px;
  width: 250px;
}

header .logos a .observatorio-logo {
  height: 100%;
  width: 70px;
}

header .logos .ufma-logo {
  margin-left: -30px;
  width: 75px;
}

header .logos .divider {
  background: var(--primary);
  height: 80%;
  margin: 0 10px;
  width: 2px;
}

header nav {
  align-items: center;
  display: flex;
  margin-right: 100px;
}

header .open-btn,
header .close-btn {
  display: none;
}

header nav ul {
  align-items: center;
  display: flex;
  list-style: none;
}

header nav button {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  margin-right: 4px;
  padding: 8px;
}

header nav button:hover {
  background: var(--bg-secondary);
  opacity: 0.7;
}

header nav a,
header nav .dropbtn {
  color: var(--primary);
  text-decoration: none;
}

/* HEADER */

.section-header {
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 20px;
}

.section-header::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: var(--primary);
  bottom: 20px;
  left: calc(50% - 30px);
}

.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

mark {
  background: none;
  color: var(--text-gray-secondary);
  text-decoration: none;

  display: inline-block;
  position: relative;
}
mark:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  background: var(--primary);
  transition: height 0.3s ease 0s;
  z-index: 0;
  width: 100%;
}
mark:hover:after {
  height: 10px;
  left: 0;
}

/* TRAB_PUBLICADOS */

body {
  background: var(--bg);
}

main .container {
  margin: 40px auto;
  width: 80%;
}

main .container .filtro {
  display: flex;
  flex-direction: column;
}

main .container .filtro .publication,
main .container .filtro .author,
main .container .filtro .keyword,
main .container .filtro .type {
  display: flex;
  flex-direction: column;
}

main .container .filtro .publication label,
main .container .filtro .author label,
main .container .filtro .keyword label,
main .container .filtro .type label,
main .container .search label {
  font-size: calc((12px + 0.25vw) * 0.875);
  font-weight: 700;
  letter-spacing: 4px;
  margin: 10px 0;
  text-transform: uppercase;
}

main .container .filtro .publication input,
main .container .filtro .author input,
main .container .filtro .keyword input,
main .container .filtro .type select {
  background: none;
  border: 1px solid var(--gray-border);
  border-radius: 6px;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  padding: 14px;
  outline: none;
  width: 100%;
}

main .container .filtro .type select {
  background: none;
  color: var(--text-gray);
}

main .container .search {
  display: flex;
  flex-direction: column;
}

main .container .search-button {
  background: none;
  border: 1px solid var(--gray-border);
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  margin: auto 0;
  padding: 12px;
  transition: 0.2s ease-in-out;
  width: 50px;
}

main .container .search-button:hover,
main .container .search-button:focus {
  opacity: 0.6;
}

main .container .list,
main .container .list-authors,
main .container .list-tags {
  list-style: none;
}

main .container .list .item {
  padding: 4px;
}

.resultados {
  text-align: center;
}

main .container .card {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

main .container .card .video-thumb {
  width: 120%;
  height: 100%;
}

main .container .card .details {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 20px;
  width: 100%;
}

main .container .card .details .data-name {
  max-width: 600px;
  width: 40%;
}

main .container .card .details .share {
  align-items: center;
  display: flex;
  width: 15%;
}

main .container .card .details .share .type {
  text-align: center;
}

main .container .card .details .authors {
  width: 35%;
}

main .container .card .details .data-name,
main .container .card .details .share,
main .container .card .details .authors,
main .container .card .details .resume {
  display: flex;
  flex-direction: column;
}

main .container .card .details .authors {
  margin-left: 100px;
}

main .container .card .details .authors .title-video {
  font-size: 20px;
}

main .container .card .details .share .links {
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

main .container .card .pub-type {
  font-size: 14px;
  margin-top: 20px;
}

main .container .card .pub-type .pub-type-cont {
  color: var(--primary);
  font-weight: bold;
  margin-left: 4px;
}

main .container .card .panel .tags .list-tags {
  display: flex;
  flex-direction: row;
}

main .container .card .panel {
  display: none;
}

main .container .card .panel .resume {
  margin: 20px 0;
  text-align: justify;
}

main .container .card .details .share p,
main .container .card .details .authors p,
main .container .card .panel .tags-title {
  font-size: calc((12px + 0.25vw) * 0.875);
  font-weight: 700;
  letter-spacing: 4px;
  margin: 6px 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

main .container .card .details .data-name .article-name,
main .container .card .panel .resume .resume-title {
  font-size: 22px;
  font-weight: 500;
}

main .container .card .details .share a img {
  height: 20px;
  width: 20px;
}

main .container .card .authors .list-authors .item-author-name,
main .container .card .panel .resume .resume-text,
main .container .card .panel .tags .list-tags .item-tag {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

main .container .card .panel .tags .list-tags .item-tag {
  padding: 10px;
  padding-top: 0;
  padding-left: 0;
  width: fit-content;
}

main .container .card .buttons-container {
  display: flex;
  align-items: center;
}

main .container .card .button-show-more,
main .container .card .button-download {
  align-items: center;
  background: none;
  border: 1px solid var(--primary);
  border-radius: 25px;
  color: var(--primary);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 15px 10px 0;
  text-decoration: none;
  padding: 12px;
  transition: 0.1s ease-out;
  width: fit-content;
}

main .container .card .button-show-more:hover,
main .container .card .button-download:hover {
  background: var(--primary);
  color: var(--text-white);
}

main .container .card .button-show-more span,
main .container .card .button-download span {
  font-size: 18px;
  font-weight: 400;
}

main .container .authors {
  padding: 0px 15px;
}

main .container .card .card-bottom {
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}

main .container .card .card-bottom .data {
  margin: 0;
  font-size: 14px;
}
main .container .card .card-bottom .data .data-day {
  font-weight: 500;
}

main .container .pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

main .container .pagination .numbers {
  display: flex;
}

main .container .pagination .numbers div,
main .container .pagination .prev,
main .container .pagination .next {
  align-items: center;
  background: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: flex;
  height: 25px;
  justify-content: center;
  margin: 0 4px;
  padding: 8px;
  width: 25px;
}

main .container .pagination .prev:hover,
main .container .pagination .next:hover {
  background: var(--bg);
  color: var(--primary);
}

main .container .pagination .numbers .active {
  background: var(--bg);
  color: var(--primary);
}

main .container .pagination .numbers .active:hover {
  background: var(--primary);
  color: #fff;
}

.line-purple {
  background: var(--primary);
}

.line-gray {
  background: #9d9dc4;
}

.line-purple,
.line-gray {
  height: 1px;
  margin: 10px 0;
  width: 100%;
}

.tag-zero {
  display: none;
}

@media screen and (max-width: 800px) {
  main .container {
    margin: 0 auto;
    width: 90%;
  }

  main .container .filtro {
    display: flex;
    flex-direction: column;
  }

  main .container .filtro .publication,
  main .container .filtro .author,
  main .container .filtro .keyword {
    display: flex;
    flex-direction: column;
  }

  main .container .card .details .share {
    padding: 10px 0 0 0;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
  }

  main .container .card .details .share .type {
    display: inline;
    text-align: left;
  }

  main .container .card .details .share .links {
    width: 40%;
  }

  main .container .card .details .authors {
    padding: 0;
    margin-left: 0;
  }

  main .container .card .video-thumb {
    width: 100%;
    height: auto;
  }

  /* main .container .card .card-bottom .container-data{
    text-align: end;
  } */

  main .container .filtro .publication label,
  main .container .filtro .author label,
  main .container .filtro .keyword label,
  main .container .filtro .type label,
  main .container .search label {
    font-size: calc((12px + 0.25vw) * 0.875);
    font-weight: 700;
    letter-spacing: 4px;
    margin: 10px 0;
    text-transform: uppercase;
  }

  main .container .filtro .publication input,
  main .container .filtro .author input,
  main .container .filtro .keyword input,
  main .container .filtro .type select {
    background: none;
    border: 1px solid var(--gray-border);
    border-radius: 6px;
    font-size: 16px;
    font-style: italic;
    padding: 14px;
    outline: none;
    width: 100%;
  }

  main .container .filtro .type select {
    background: none;
    color: #707070;
  }

  main .container .search {
    display: flex;
    flex-direction: column;
  }

  main .container .search-button {
    background: none;
    border: 1px solid var(--gray-border);
    border-radius: 50px;
    cursor: pointer;
    height: 50px;
    margin: auto 0;
    padding: 12px;
    transition: 0.2s ease-in-out;
    width: 50px;
  }

  main .container .search-button:hover,
  main .container .search-button:focus {
    opacity: 0.6;
  }

  main .container .list,
  main .container .list-authors,
  main .container .list-tags {
    list-style: none;
  }

  main .container .list .item {
    padding: 4px;
  }

  main .container .card {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  main .container .card .details {
    display: flex;
    flex-direction: column;
  }

  main .container .card .details .data-name,
  main .container .card .details .authors,
  main .container .card .details .resume,
  main .container .card .details .tags {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  main .container .card .details .data-name p,
  main .container .card .details .share p,
  main .container .card .details .authors p,
  main .container .card .panel .resume .resume-title,
  main .container .card .panel .tags-title {
    font-size: calc((12px + 0.25vw) * 0.875);
    font-weight: 700;
    letter-spacing: 4px;
    margin: 6px 0;
    text-transform: uppercase;
  }

  main .container .card .details .share {
    margin: 10px 0;
  }

  main .container .card .details .share .links {
    justify-content: space-between;
    margin: 10px 0;
  }

  main .container .card .details .share a img {
    height: 20px;
    width: 20px;
  }

  main .container .card .authors .list-authors .item-author-name,
  main .container .card .panel .resume .resume-text,
  main .container .card .panel .tags .list-tags .item-tag {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  main .container .card button {
    background: none;
    border: 1px solid var(--primary);
    border-radius: 25px;
    color: var(--primary);
    font-size: 16px;
    font-weight: 500;
    margin: 10px 15px 10px 0;
    text-decoration: none;
    padding: 5px;
    transition: 0.1s ease-out;
    width: 60%;
  }

  main .container .pagination {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  main .container .pagination .numbers {
    display: flex;
  }

  main .container .pagination .numbers div,
  main .container .pagination .prev,
  main .container .pagination .next {
    align-items: center;
    background: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: flex;
    height: 25px;
    justify-content: center;
    margin: 0 4px;
    padding: 8px;
    width: 25px;
  }

  main .container .pagination .prev:hover,
  main .container .pagination .next:hover {
    background: var(--bg);
    color: var(--primary);
  }

  main .container .pagination .numbers .active {
    background: var(--bg);
    color: var(--primary);
  }
}

@media screen and (max-width: 430px) {
  main .container .card .details .share .links {
    width: 90%;
    text-align: center;
    margin-left: 2vh;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
  }
  main .container .card .details .share .links a {
    margin: auto 2vh auto 2vh;
  }
}

/* VIDEOS */
/* 
main .container .list-videos .item .card {
  display: flex;
  flex-direction: row;
}

main .container .list-videos .video-title,
main .container .list-videos .authors p {
  font-size: calc((12px + 0.25vw) * 0.875);
  font-weight: 700;
  letter-spacing: 4px;
  margin: 0;
  text-transform: uppercase;
}

main .container .list-videos .item .card .details-videos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .container .list-videos .item .card .details-videos .description {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
  text-transform: none;
} */

/* FOOTER */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0;
  padding: 1.25rem 1.25rem;
  background: var(--black-footer);
}

footer .logos-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer .logos-footer a img {
  background: var(--text-gray);
  padding: 2px;
  width: 140px;
}

footer .infos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  margin-left: 75px;
}

footer .infos ul {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .infos ul .numeros-contatos {
  letter-spacing: 2px;
}

footer h4 {
  padding: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--text-white);
}

footer .infos > div {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 12px 0px;
  margin: 0px 0px;
}

footer .infos div p {
  margin: 0;
  margin-left: 5px;
  margin-bottom: 0;
  width: 100%;
}

footer .infos img {
  width: 25px;
}

footer .infos a,
footer .infos p {
  color: var(--text-white);
}

footer .infos .btn-contato {
  align-items: center;
  border-radius: 6px;
}

footer .infos a {
  text-decoration: none;
}

footer .contatos {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
  /* justify-content: flex-end; caso precise colocar no canto inferior direito*/
}

footer .contatos .contato {
  align-self: flex-start;
  color: #fff;
  width: 180px;
  text-decoration: none;
  font-size: 17px;
}

footer .contatos ul {
  list-style: none;
}

footer .contatos li {
  align-items: center;
  display: flex;
  padding: 12px;
  width: 300px;
}

footer .contatos img {
  margin: 0;
  width: 25px;
}

footer .contatos a {
  color: var(--text-white);
}

footer .contatos .btn-contato {
  align-items: center;
  display: flex;
  border-radius: 6px;
}

footer .infos a {
  text-decoration: none;
}

footer .contato {
  background: var(--primary);
  border-radius: 6px;
  box-shadow: 0px 6px 10px 0px #252629;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  width: 175px;
}

footer .contato img {
  width: 25px;
}

footer .contato a {
  color: var(--bg-secondary);
  font-size: 14px;
  text-decoration: none;
}

footer .contato a {
  opacity: 0.8;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  header {
    height: 70px;
  }

  header .logos {
    margin: auto 0;
    margin-left: 10px;
    width: 100px;
  }

  header nav {
    margin: 0;
  }

  header .logos a .observatorio-logo {
    width: 70%;
  }

  header .logos .ufma-logo {
    width: 400%;
  }

  header .open-btn,
  header .close-btn {
    display: block;
  }

  #nav-bar .overlay-content ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ul li {
    padding: 10px;
  }

  .overlay {
    background-color: var(--primary);
    background-color: #3d3d79f8;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    transition: 0.4s;
    height: 0%;
    width: 100%;
  }

  .overlay-content {
    width: 100%;
    text-align: center;
  }

  .overlay a,
  .overlay button,
  .overlay .dropbtn {
    display: flex;

    color: white;
    font-size: 18px;
    text-decoration: none;

    transition: 0.2s;
  }

  .overlay .close-btn {
    position: absolute;
    right: 20px;
    top: 30px;
  }

  header nav button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    padding: 8px;
  }

  header .open-btn {
    margin-right: 10px;
    width: 30px;
  }

  header nav ul li .dropdown .dropdown-content-sobre a,
  header nav ul li .dropdown .dropdown-content-produtos a {
    color: #000;
  }

  header nav .overlay-content ul li .dropdown .dropbtn span {
    margin-left: -5px;
  }

  .dropbtn {
    color: var(--text-white);
    display: flex;
    margin-left: 12px;
  }

  footer {
    padding: 40px 0;
  }

  footer .logos-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
  }

  footer .logos-footer a {
    margin: 0 auto;
  }

  footer .infos {
    margin-left: 0;
    width: 100%;
  }

  footer .infos li {
    margin-left: 0px;
  }

  footer .infos li p {
    font-size: 14px;
    margin: 0;
    margin-left: 6px;
    width: fit-content;
  }

  footer .infos p {
    font-size: 13px;
  }
}

@media (min-width: 1051px) {
  footer .infos {
    padding: 0 3rem;
  }
}

@media (max-width: 1050px) {
  footer {
    display: block;
    padding: 2rem 8rem;
  }

  footer .projetos-footer {
    display: block;
  }

  footer h4 {
    color: #919496;
    width: 100%;
    background: none;
    padding-top: 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid #919496;
    text-align: center;
  }

  footer .logos-footer {
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {
  footer {
    padding: 2rem;
  }
}

@media (max-width: 470px) {
  footer {
    padding: 0.5rem;
  }

  footer .logos-footer img,
  footer .logos-footer .logos-secundarias img {
    width: 90%;
  }

  footer .infos li {
    margin-left: -10px;
  }

  footer .infos li img {
    width: 20px;
  }

  footer .infos li p {
    margin-left: 0px;
    font-size: 12px;
  }

  footer .contatos .contato {
    width: 140px;
  }

  footer .contatos img {
    width: 20px;
  }

  footer .contatos .contato {
    font-size: 13px;
  }
}

@media (min-width: 700px) {
  .text-dexters {
    width: 100%;
  }

  footer .infos div p {
    font-size: 14px;
  }
}

@media (max-width: 281px) {
  footer .infos p {
    font-size: 11px;
  }
}

@media (max-width: 280px) {
  footer .logos-footer a img {
    border: 3px solid var(--black-footer);
    border-top: 1px solid var(--black-footer);
    border-left: 1px solid var(--black-footer);
    padding: 2px;
    width: 120px;
  }
}
